* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
}

/* main {
  max-width: 1024px;
  margin: 0 auto;
} */

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 79vh;
  justify-content: flex-end;
  margin-bottom: 12vh;
}

.div-controls {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  padding: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
}

.div-controls label {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 4px;
}

.div-controls button {
  display: flex;
  flex-grow: 0;
  flex-shrink: 2;
}

.ul-messages-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.ul-messages-list li {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  list-style: none;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.ul-messages-list li:last-child {
  margin-bottom: 0px;
}

.ul-messages-list li span {
  margin-right: 16px;
  max-width: 15%;
}

.ul-messages-list li span:hover {
  cursor: pointer;
}

.ul-messages-list .selected {
  background-color: darkgrey;
}

.ul-messages-list p {
  max-width: 82%;
}


